{% extends 'advito/layout.html' %}
{% block title %}
        <title>{{ profile.user.username }}</title>
    {% endblock title %}
{% block unique_content %}
    <section class="proile-view">
    {% if profile.ava %}
    <div class="left">
        <img class="ava" style="width: 350px; height: 350px;" src= '{{ profile.ava.url }}'/>
    </div>
    {% endif %}
    <div class="right">
            <p class='nickname'> {{ profile.user.username }} </p>
            <p> Дата рождения:
            {% if profile.date_birth %}
                <i> {{ profile.date_birth|date:"d F Y" }} </i>
                {% else %}
                <i>Не указано</i>
            {% endif %}
            </p>
            <p>Телефон:
            {% if profile.phone_number %}
                <a href="tel:{{ profile.phone_number }}">{{ profile.phone_number }}</a>
            {% endif%}</p>
            <p> Обо мне:
            {% if profile.about %}
                <i> {{ profile.about }} </i>
            {% endif %}
            </p>
            {% if user.id == profile.user.id %}
                <a href="{% url 'edit-profile' profile.user.id %}" >  Редактировать профиль  </a>
            {% endif %}
    </div>
    </section>
    {% if profile.user.add_set.all  %}
    <li class='active'>
    <!-- Элементы с постами -->
            <ul class="post-set">
            {% for post in profile.user.add_set.all %}
           <li class="post-set-block">
               <a href="{% url 'post_detail' post.id %}">
                   <div>
                       <img class="imagi" alt="posts image" src="{{ post.image.url }}"
                            style="height: 250px;">
                   </div>
                   <p>{{ post.author }}</p>
                   <p>{{ post.header }}</p>
                   <p class="data">{{ post.date_pub }}</p>
               </a>
           </li>
    </ul>
            {% endfor %}
    <!-- Конец элементов с постами -->
    {% else %}
            <a> Постов нет. </a>
    {% endif %}
{% endblock unique_content %}
